{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <h1 class="text-center mt-4">Bienvenue sur notre Blog</h1>

        <h2 class="my-3">Listes des articles</h2>

        {% for article in articles %}
            <div class="card shadow px-4 py-2 my-2">
                <h4>{{ article.title }}</h4>
                <p class="my-3">{{ article.content }}</p>
                <p><strong>Date publication :</strong> <i>{{ article.posted_at }}</i></p>
                <div class="d-flex justify-content-between">
                    <div>
                        <a href="{% url 'article-commentaires' article.id %}">commentaires</a>
                    </div>
                    <div>
                        <a href="{% url 'article-edit' article.id %}">modifier</a>
                        <a href="{% url 'article-delete' article.id %}">supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}