{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

    <div class="container">
        <h1 class="text-center mt-4">Modification des articles</h1>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_title" class="form-label">Titre</label>
                {{ form.title | add_class:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="id_content" class="form-label">Contenu</label>
                {{ form.content | add_class:"form-control" }}
            </div>
            <input type="hidden" name="edit_article" value="True" id="id_edit_article">
            <button type="submit" class="btn btn-success">Enregistrer</button>
        </form>
    </div>

{% endblock content %}